# This file is used for development purposes
#
# Copy this file to a file called "env" in the same directory and set each
# environment variable accordingly
#
# For variables that ends with "_PATH", DON'T USE RELATIVE PATHS
T_STD_PATH=
T_RUNTIME_PATH=
