extern "C" {
  fn printf(format *i8, ...) i32;
}

fn fib(n u64) u64 {
  if n <= 1 {
    return n;
  }
  return fib(n - 1) + fib(n - 2);
}

fn main() i32 {
  n := 50;
  result := fib(n);
  printf("%d: %d", n, result);
  return 0;
}
